<div class="">
  <div class="featured-img">
    <img src="../assets/bebidas.png" alt="Categorías" />
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>CATEGORÍAScccc</h3>
      </ion-col>
      <ion-col>
        <button expand="full" (click)="viewMoreCategories()">Ver Más</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="row">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let categoria of categorias">      
          <img [src]="categoria.foto" alt="{{ categoria.nombre }}" style="width: 72px; height: auto;" /> 
          <button [routerLink]="['/detalle-producto', categoria.id]">
            {{ categoria.nombre }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
