<div class="text-center">
  <img src="../assets/bebidas.jpg" alt="Categorías" />

  <ion-grid>
    <ion-row>
      <ion-col>  <h3 style="color: #FFFFFF;">CATEGORIAS</h3>
   </ion-col>
      <ion-col>      <button expand="full" color="light" (click)="viewMoreCategories()">
        Ver Más
      </button>2</ion-col>
    </ion-row>
  </ion-grid>


  
  <div class="row">
    <div class="col-md-3 flex-column" >

    </div>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let product of products">      
          <img [src]="getImageUrl(product.image)" alt="{{ product.name }}" style="width: 75px; height: 75px;" />
          <button [routerLink]="['/detalle-producto', product.id]">{{ product.name }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>