<ion-content>




  <ion-grid *ngIf="producto">
    <ion-row>
      <ion-col><img [src]="getImageUrl(producto.image)" alt="{{ producto.name }}" style="width: 75px; height: 75px;" /></ion-col>

      
    </ion-row>
  
    <ion-row>
      <ion-col>{{ producto.name }}</ion-col>

      
    </ion-row>
    <ion-row>
      <ion-col>{{ producto.description }}</ion-col>

      
    </ion-row>
    <ion-row>
      <ion-col>{{ producto.price }}</ion-col>

      
    </ion-row>
  </ion-grid>
  <p *ngIf="!producto">Cargando...</p>
</ion-content>