<!-- src/app/login/login.page.html -->
<ion-content class="login-page">
  <div class="container">
    <!-- Logo y título -->
    <div class="header">
      <div class="logo">
        <img src="assets/logo-axion.png" alt="Axion" class="logo_top">
      </div>
      <h1>Santa Lucía</h1>
      <h2>Axion Shop</h2>
    </div>

    <!-- Contenedor de formulario -->
    <div class="form-container">

      <ion-item>
        <ion-input style="--background: #ffffff; --color: #000000;" type="tel" [(ngModel)]="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input style="--background: #ffffff; --color: #000000;" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <!--<div class="input-login">
        <input type="tel" id="phone" name="phone" required minlength="9" maxlength="9" />
      </div>
      
      <div class="input-login">
        <input type="password" id="password" name="password" required  />
      </div>-->
      

      <!-- Link para recuperar contraseña -->
      <div class="forgot-password">
        <a href="">¿Olvidaste tu contraseña?</a>
      </div>

      <!-- Botones de ingreso y registro -->
      <ion-button expand="block" color="dark" (click)="login()">Entrar</ion-button>
      <ion-button expand="block" color="primary" (click)="navigateToRegister()">Regístrate</ion-button>

      <!--<div class="btn-entrar">
        <a class="" href="">Entrar</a>
      </div>
      
      <div class="btn-registro">
        <a class="" href="">Regístrate</a>
      </div>-->
    </div>

    <!-- Footer -->
    <div class="footer">
      <p>By <img src="assets/icon_by.png" alt="DobleV" class="by"></p>
    </div>
    <div class="img_background"><img src="assets/bg_login.png"></div>
  </div>
</ion-content>
