// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
/* src/theme/variables.scss */
:root {
    --ion-color-primary: #D1117E;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-dark: #000000;
  }