<!-- HEADER -->
<ion-header>
  <ion-toolbar>
    <!-- MENU -->
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <!--<ion-icon name="menu"></ion-icon>-->
        <img src="assets/icon-menu.png" alt="cart" class="icon-menu">
      </ion-button>
    </ion-buttons>

    <!-- ICONO -->
    <ion-title>
      <img src="assets/logo-axion-colour.png" alt="Axion" class="logo">
    </ion-title>

    <!-- CART -->
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()">
        <!--<ion-icon name="cart"></ion-icon>-->
        <img src="assets/icon-cart.png" alt="cart" class="icon-cart">
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<!-- end HEADER -->

<!-- CONTENT -->
<ion-content>
  <!-- TEXT WELCOME -->
  <app-greeting></app-greeting>
  <!-- end TEXT WELCOME -->

  <!-- CATEGORIES -->
  <div class="">
    <div class="featured-img" *ngFor="let categoria of categorias">
      <img [src]="categoria.foto" alt="{{ categoria.nombre }}" style="width: 279px; height: 180px;" />

    </div>
  
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>CATEGORÍAScccc</h3>
        </ion-col>
        <ion-col>
          <button expand="full" (click)="viewMoreCategories()">Ver Más</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
    
  </div>
  <!-- endCATEGORIES -->

  <app-featured></app-featured>

  <div class="img_background">
    <img src="assets/background_home.png">
  </div>
</ion-content>
<!-- end CONTENT -->

<ion-footer>
  <ion-toolbar>

    <ion-buttons class="icon-home-bottom" slot="start" (click)="goToHome()">
      <img src="assets/icon-home-bottom.png">
    </ion-buttons>

    <ion-buttons class="icon-categories-bottom" slot="middle" (click)="goToCategories()">
      <img src="assets/icon-categories-bottom.png">
    </ion-buttons>
    
    <ion-buttons class="order-delivery" slot="end" (click)="goToDelivery()">
      <img src="assets/order-delivery.png">
    </ion-buttons>

  </ion-toolbar>
</ion-footer>