<ion-content padding>

  <ion-buttons slot="start">
    <ion-button (click)="openMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>
    <img src="assets/logo-axion.png" alt="Logo Axion" class="logo" width="150px;" height="150px;">
  </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="goToCart()">
      <ion-icon name="cart"></ion-icon>
    </ion-button>
  </ion-buttons>

  <div style="border-bottom: 1px solid white;"></div>
  <app-greeting></app-greeting>

  <app-categories></app-categories>


  <h3>Destacados</h3>
  <div class="row">
    <div class="col" *ngFor="let featured of featuredProducts">
      <h4>{{ featured.name }}</h4>
      <img [src]="featured.imageUrl" alt="{{ featured.name }}" />
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goToHome()">
      <ion-icon name="home"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="middle" (click)="goToCategories()">
      <ion-icon name="list"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="goToDelivery()">
      <ion-icon name="car"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>